# Roblox Studio build files
*.rbxlx
*.rbxl

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Rojo sourcemap files
*sourcemap.json

# Wally package files
/Packages
/ServerPackages
/DevPackages
/test/DevPackages

# Luau LSP type definitions for Roblox
globalTypes.d.luau

# Pesde package files
/luau_packages
/lune_packages
/roblox_packages
